@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    max-width:  1440px;
    font-style: normal;
    margin: 0px auto;
  }


/* shared styles */
.flex{
    display: flex;
}
#me2 {
    background-image: url(../assets/bg.png);
}
.card1 h3,
.card2 h3,
.card3 h3{
    color: rgb(32, 32, 32);
    font-size: 1.53rem;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}
.card-description{
    color: rgb(128, 128, 128);
    font-family: Raleway;
    font-size: 0.94rem;
    font-weight: 500;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}

/* header */
header{
    padding: 20px 140px 18px 140px;
}
/* navber */
.navber{
    justify-content: space-between;
    align-items: center;
    
}

.class span{
    width: 387px;
    height: 30px;
    margin: 32px;
}
.navber .class1{
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.navber .class2{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.navber .class3{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.navber .class4{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.school p{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700px;
    line-height: 30px;

}
.btn-content{
    width: 197px;
    height: 50px;
    background-color: rgba(254, 163, 1, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
}
/* me1 */
.hero{
    padding: 0px 140px;
    justify-content: center;
    align-items: center;
}
.hero-content{
    width: 100%;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 60px;

}
.hero1{
    color: #FEA301;
}
.hero2{
    color: #01ACFD;
}
.hero-content h1{
    width: 580px;
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.hero-content p{
    width: 640px;
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-btn{
    width: 197px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    justify-content: center;
}
.hero div{
    width: 50%;
}
.hero .hero-content, 
.hero img{
    width: 100%;
}
/* me2 */
.Standard{
    margin-bottom: 60px;
}
.Standard h1{
    color: rgb(0, 0, 0);
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 80px;
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
    margin-bottom: 80px;
}
.card1{
    /* width: 370px; */
    height: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card1 img{
    width: 140px;
}
.card1 span{
    color: rgb(100, 200, 255);
    font-size: 0.94rem;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}
.card2{
    /* width: 370px; */
    height: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(255, 244, 220);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card2 img{
    width: 140px;
}
.card2 span{
    color: rgb(240, 170, 0);
    font-size: 0.94rem;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}
.card3{
    /* width: 370px; */
    height: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 0.94px solid rgb(242, 232, 255);
    border-radius: 18.86px;

    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card3 img{
    width: 140px;
}
.card3 span{
    color: rgb(135, 0, 255);
    font-size: 0.94rem;
    font-weight: 700;
    line-height: 28.3px;
    letter-spacing: 0%;
    text-align: center;
}
.lessgetter{
    justify-content: center;
    align-items: center;
}
.less,
.getter{
    padding: 18px 22px 19px 22px;
    border-radius: 30px;
    background: rgb(254, 163, 1);
    color: rgb(255, 255, 255);
    border: none;
    margin: 5px;
}
/* me3 */
.stories{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    padding: 15px;

}
.stories h1{
    color: rgb(0, 0, 0);
    font-size: 46px;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    padding: 60px 0px 60px 0px;
    margin-bottom: 80px;
}
.stories button{
    /* width: ; */
    color: rgb(255, 255, 255);

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 10px 61px;
    margin-top: 80px;
    margin-bottom: 60px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0px 0px;
}
.cards{
    display: flex;
    gap: 15px;
}
.cards > div{
    width: 100%;
    flex: 1;
    
}
.more-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

}
.more{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.story-1{
    margin: 30px;
}
.story-1 h3{
    color: rgb(0, 0, 0);
    width: 402px;
    font-size: 34px;
    font-weight: 700;
    line-height: 38.35px;
    letter-spacing: 0%;
    margin-top: 70px;
    text-align: left;
    margin-bottom: 60px;
}
.story-1 p{
    color: rgb(102, 102, 102);
    width: 433px;
    font-family: Raleway;
    font-size: 25.34px;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
}
.single-card{
    color: rgb(0, 0, 0);
    font-family: Quicksand;
    font-size: 15.34px;
    font-weight: 700;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 5px;
    
}
/* footer */
footer{
    background: rgb(1, 172, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}
#id{
    width: 1070px;
    display:flex;
    /* justify-content: center;
    align-items: center; */
}
 .content{
    width: 400px;
    margin-right: 100px;

}
.content .container{
    width: 82px;
    height: 81px;
}
.container p{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 42.14px;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
}
.content p{
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
#id .home{
    margin-right: 150px;
}
.home p{
    color: rgb(255, 255, 255);

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 32px;
}
.home li{
    list-style: none;

}
.home li a{
    text-decoration: none;

}
.about p{
    color: rgb(255, 255, 255);

    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.about img{
    width: 40.61px;
height: 40px;
    gap: 10px;
    border-radius: 4px;

background: rgb(59, 89, 152);
}
/* responsive media query */

/* small device */
@media screen and (max-width:576px) {
    header ,
    main{
        padding: 16.5px;
    }
    .navber{
        width: 100%;
    }
    .navber .school p,
    .navber .class,
    .btn-content{
        display: none;
    }
    .navber .school{
        margin: 0px auto 0px 0px;
    }
    hr{
        border:1px solid 
    }
     .hero{ 
        justify-content: center;
        align-items: center;
        padding: 0px;
        flex-direction: column-reverse;
    }
    .hero-content{
        margin: 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .hero-content h1{
        width: 100%;
        margin: 0px
        
    }
    .hero-content p{
        width: 100%;

    }
    .hero div{
        width: 100%;
    }
    /* me2 */
    .card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 29px;
    }
    .lessgetter{
        display: none;
    }
    /* me3 */
    .stories h1{
        font-size: 26px;
        padding: 40px 0px 40px 0px;
    }
    .cards{
        /* flex-direction: column; */
        flex-direction: column-reverse;
    }
    .more2{
        display: none;
    }
    /* footer */
    /* footer {

        height: 519px;

    } */
    #id{
        flex-direction: column;
        margin-left: 15px;
    }
    .content p{
        width: auto;
    }

    .content{
        width: 100%;
    }
}
/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
        /* me3 */
        .story-3.1 ,
        .story-4.1{
            display: none;
        }
        .cards{
            flex-direction: column;
            /* flex-direction: column-reverse; */
        }
}
/* large device */
@media screen and (min-width:992px) {
    header hr{
        border: none;
    }
    .navber p{
        display: none;
    }
    /* me3 */
    .card006,
    .card007{
        display: none;
    }
    /* me3 */
    .story-3.1 ,
    .story-4.1{
        display: none;
    }
    .cards{
        flex-direction: row;
        /* flex-direction: column; */
        /* flex-direction: column-reverse; */
    }
}